Source: goopg
Section: mail
Priority: extra
Maintainer: David Steele <steele@debian.org>
Build-Depends: debhelper (>= 9),
               dh-buildinfo,
               dh-python,
               python | python-all | python-dev | python-all-dev
Standards-Version: 3.9.8
Homepage: http://leoiannacone.github.io/goopg/
Vcs-Git: https://github.com/davesteele/goopg.git -b debian
Vcs-Browser: https://github.com/davesteele/goopg

Package: goopg
Architecture: all
Depends: python,
         python-gflags,
         python-gnupg,
         python-googleapi,
         python-oauth2client (>= 2.0.1-1),
         python-xdg,
         gnupg-agent,
         gnupg2,
         ${misc:Depends}
Recommends: chromium
Suggests: google-chrome-stable
Description: GPG for Chromium Gmail
 Goopg is a Chromium Native Messaging Host utility for Gmail. It allows
 one to verify and sign emails in Gmail web page, using GnuPG. The Chrome
 'goopg' Extension is also required.
